APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:owsi4n7zQTq0RjTFnmkkjRMezxX7DxgZMusCSB4OiBQ=
APP_DEBUG=true
APP_DEBUG_BAR=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mdo-mysql
DB_PORT=3306
DB_DATABASE=mdo
DB_USERNAME=docker
DB_PASSWORD=docker

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL_MAILER=smtp
# MAIL_HOST=mailhog
# MAIL_PORT=1025
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
# MAIL_ENCRYPTION=null
# MAIL_FROM_ADDRESS=null
# MAIL_FROM_NAME="${APP_NAME}"

MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=8df6bf48722c8d
MAIL_PASSWORD=b5193bbb940f0c
MAIL_ENCRYPTION=tls

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PAGE=1
PER_PAGE=10

EXTENSION_IMAGEN_PRODUCTO="jpg"

URL_IMAGENES_PRODUCTOS= "https://controlmetrics.com.ar/MDO/img/"

FECHA_CTACTE = "2015-09-01"

TIMEZONE="America/Argentina/Cordoba"

JWT_TTL=120

JWT_SECRET=ypZ99k2JPD4uQqbdN7uD5zPyCx8zw5GQo968bCwAP0uypxt8qwNnJwOIqc4yc1k7
